TYPESENSE_API_KEY=
TYPESENSE_HOST=
TYPESENSE_PORT=
TYPESENSE_PROTOCOL=

COLLECTION_NAME=

SEARCH_ENDPOINT=
LLM_ENDPOINT=

OLLAMA_CONN_ENDPOINT=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=